
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: rgba(32, 33, 35, 0.95);
  color: #fff;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10000;
}

.sidebar.show {
  transform: translateX(0);
}


.botao-fechar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 10001;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 4rem;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
}

.sidebar ul li a:hover {
  color: #00ffff;
} 